# Ignore node_modules directory
node_modules/

# Ignore all log files
*.log

# Ignore the build directory
/dist

# Ignore environment variable files
.env

# Ignore IDE specific files
.idea/
*.iml
.vscode/

# Ignore Mac system files
.DS_Store

# Ignore npm debug files
npm-debug.log*
